anthropic==0.46.0
datasets==3.1.0
debugpy
google_cloud_aiplatform==1.71.1
ipython
matplotlib-inline
numpy
openai==1.63.2
pandas==2.2.3
platformdirs
protobuf==5.29.3
scikit_learn==1.6.1
tiktoken==0.7.0
traitlets
tqdm==4.66.6
transformers==4.46.1
vertexai==1.71.1
vllm==0.6.4.post1